body {
    font-family: Roboto, sans-serif;
    margin: 0%;
    min-height: 100vh;
}

img.logo-image {
    width: 50px;
    height: 80px;
    /* ajuste o valor conforme necessário */
    /*display: block;
    margin: 0 auto;*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 15px 100px 15px 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 30px 100px 30px 100px;
}

.footer-text {
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  padding:0%;
  margin: 0;
  display:flex;
  gap: 15px;
  
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.container-1 {
    background-color: #1f2937;

}

.hero {
    font-size: 48px;
    font-weight: 800;
    color:#f9faf8
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    padding:15px 0px 15px 0px;
}

button {
    background-color: #3882F6;
    color:#f9faf8
}

img.hero-image {
    width: 500px;
    height: 300px;
}

.container-1 {
    display:flex;
    padding: 30px 100px 30px 100px;
    align-items: center;
    gap:100px;
}

.hero-image {
    flex:1;
}

.hero-content {
    flex:1;
}

button.button {
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    border: 0;
    font-weight: bold;
}

.header-2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 30px 0px 30px 0px;
}

img.grid-image {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border: 5px solid #3882F6;
}

.content-grid {
    max-width: 200px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.grid-content {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 30px
}

.grid-text {
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}

.grid-text.name {
    text-align: center;
    color: #1f2937;
    font-size: 24px;
    font-weight: 600;
}

.container-3 {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

.author-text {
    font-size: 18px;
    color: #1f2937;
    font-weight: 800;
    text-align: end;
    padding-right: 250px;
}

.quote-author {
    padding:100px;
}

.sign-up-content {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 30px;
    border-radius: 8px;
    margin: 100px 250px;
}

.sign-up-button {
    background-color: #3882F6;
    color:#f9faf8;
    border-radius: 8px;
    font-size: 18px;
    padding: 5px 25px 5px 25px;
    border: 2px solid #f9faf8;
    font-weight: bold;
}

.header-3 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.sign-up-sub-text {
    color: #e5e7eb;
    font-size: 18px;
}